/** @format */

// fonts
$MAIN_FONT: "Fraunces", serif;
$SECONDARY_FONT: "Karla", sans-serif;

//colors
$COLOR_DARK_TEXT: #333333;
$COLOR_PRIMARY: #1767c4;
$COLOR_WHITE: #fff;
$COLOR_PRIMARY_30: #e0eeff;
$COLOR_SECONDARY: #fee74e;
$COLOR_GREY: #a39a9a;
$COLOR_DARKBLUE: #00397a;
